
amp-story-grid-layer[template="vertical"].logo-layer {
  padding: 20px;
  justify-items: normal;
  -ms-flex-line-pack: start;
  align-content: start;
}

amp-story-grid-layer[template="vertical"].logo-layer .logo-wrapper {
  max-width: 30px;
}

@media (max-width: 768px) {
  amp-story-grid-layer[template="vertical"].logo-layer .logo-wrapper {
    max-width: 25px;
  }
}

amp-story-grid-layer[template="vertical"].logo-layer amp-img {
  opacity: 0.5;
}

amp-story-grid-layer[template="vertical"].credit-layer {
  padding: 0 30px 0px 5px;
  -ms-flex-line-pack: end;
  align-content: end;
}
@media (max-width: 480px) {
  amp-story-grid-layer[template="vertical"].credit-layer {
    padding: 0 20px 0px 5px;
  }
}
amp-story-grid-layer[template="vertical"].credit-layer p.credit {
  padding: 0;
  color: #ddd;
  text-shadow: 1px 1px 0px #000;
  font-size: 15px;
  line-height: 20px;
  /* text-transform: uppercase; */
  font-family: "Source Sans Pro", Arial, sans-serif;
  text-align: left;
  max-width: inherit;
  font-style: normal;
  font-weight: bold;
}
@media (max-width: 480px) {
  amp-story-grid-layer[template="vertical"].credit-layer p.credit {
    font-size: 9px;
    line-height: 16px;
  }
}
