
amp-story {font-family: "Noto Sans",serif; color: #fff;}
amp-story-page {background-color: #000;}
amp-story-grid-layer{padding: 68px 10px 32px;}
p{/*margin: 0px 20px;*/}
/* .logo{max-width: 32px; min-height: 44px; margin: -50px 0px 0px 10px; box-shadow: 0px 0px 22px -8px rgba(0,0,0,0.75);} */

.branding{max-width: 150px; min-height: 30px; margin:0 auto 25px;}
.title_lower_third{padding:15% 0 0;}
.yellow_border_bottom{border-bottom: 5px solid #fc0; width: 10%; margin: 0px 45%; padding: 5% 0px 0px;}
.tap_button_left{float: left; margin: 0; top:40%; position:relative; width: 19px; height:35px; color: white; z-index:1;}
.tap_button_right{float: right; margin: 0; top:40%; position:relative; width: 19px; height:35px; color: white; z-index:1;}
.pad18 {padding-bottom:18px;}
.tpad20 {padding-top:20px;}
.pad20 {padding-bottom:20px;}
.pad80 {padding-bottom:80px;}
.chevron-right {background-image: url(chevron-right.svg); filter: brightness(0) invert(1);}
.chevron-left {background-image: url(chevron-left.svg); filter: brightness(0) invert(1);}

.{
/*
Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+1,0.65+99
*/
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.65) 99%, rgba(0,0,0,0.65) 100%);
/* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%);
/* Chrome10-25, Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%);
/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
/* IE6-9 */
margin: 0px -30% -40%; padding: 0px 30% 40%;
}

.center{text-align: center;}
.vertical_center{/*margin: 20% 0%;*/ display:flex; align-items: center; justify-content: center;}
/*#popup-text > div > div {display: flex; align-items: center; justify-content: center;}*/
.cta {background-color:#ffcc00; width:max-content; padding:10px 12px 10px 14px; text-align:center; margin:50px auto; color:black;}
a.cta {text-decoration:none;}
h1 {padding-bottom: 2.5%}
h2 {}
p {}
amp-story-grid-layer.bottom {align-content:end;}
p.popup {color:black; margin:15px 10%;}

.onto-edit-regular--18, .onto-edit-regular--16, .onto-edit-regular--14 {font-family: 'Noto Sans', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif; font-weight: 400;}
.onto-edit-regular--18 {font-size: 18px; letter-spacing: .5px; line-height: 1.5;}
.onto-edit-regular--16 {font-size: 16px; letter-spacing: .5px; line-height: 1.5;}
.onto-edit-regular--14 {font-size: 14px; letter-spacing: .3px; line-height: 1.429;}

 {font-family: 'Noto Sans', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif; font-weight: 400;}

.onto-edit-medium--48, .onto-edit-medium--24, .onto-edit-medium--22 {font-family: 'Noto Sans', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif; font-weight: 400;}
.onto-edit-medium--48 {font-size: 48px; letter-spacing: .5px; line-height: 1.211;}
.onto-edit-medium--24 {font-size: 24px; letter-spacing: .5px; line-height: 1.5;}
.onto-edit-medium--22 {font-size: 22px; letter-spacing: .1px; line-height: 1.273;}
.onto-brand-bold--22, .onto-brand-bold--12 {font-family: 'Noto Sans', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif; text-transform: uppercase; font-weight: 400;}
.onto-brand-bold--22 {font-size: 22px; letter-spacing: 3px; line-height: 1.273;}
.onto-brand-bold--12 {font-size: 12px; letter-spacing: 3px; line-height: 1.5;}

